<html>
<head>
    <title>iOrchestra Averages</title>
</head>
<body>
   {%if error%} 

   <p>{{error}}</p>

   {%else%}

    <h1>iOrchestra Averages</h1>

    <h2>Average Numbers of Scans</h2>
    <ul>
        <li>Overall: {{ overall_average }}</li>
        <li>Child: {{ child_average }}</li>
        <li>Adult: {{ adult_average }}</li>
    </ul>

    <h2>Maximum Numbers of Scans</h2>
    <ul>
        <li>Overall: {{ overall_max_scan }}</li>
        <li>Child: {{ child_max_scan }}</li>
        <li>Adult: {{ adult_max_scan }}</li>
    </ul>

    <h2>Most Scan Cards</h2>
    <ul>
        <li>Overall: {{ top_card }}</li>
        <li>Child: {{ top_child }}</li>
        <li>Adult: {{ top_adult }}</li>
    </ul>

    <h2>Breakdown by batches</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Overall Average</th>
            <th>Child Average</th>
            <th>Adult Average</th>
            <th>Child Total</th>
            <th>Adult Total</th>
        </tr>

        {% for batch in batches %}

        <tr>
            <td>{{batch.name}}</td>
            <th>{{batch.overall_average}}</th>
            <th>{{batch.child_average}}</th>
            <th>{{batch.adult_average}}</th>
            <th>{{batch.child_total}}</th>
            <th>{{batch.adult_total}}</th>
        </tr>


        {% endfor %}
    </table>

    {%endif%}



    
</body>
</html>
