<html>
<head>
    <title>iOrchestra Averages</title>
</head>
<body>
    <h1>iOrchestra Averages</h1>

    <h2>Average Numbers of Scans</h2>
    <ul>
        <li>Overall: {{ overall_average }}</li>
        <li>Child: {{ child_average }}</li>
        <li>Adult: {{ adult_average }}</li>
    </ul>

    <h2>Maximum Numbers of Scans</h2>
    <ul>
        <li>Overall: {{ overall_max_scan }}</li>
        <li>Child: {{ child_max_scan }}</li>
        <li>Adult: {{ adult_max_scan }}</li>
    </ul>


    
</body>
</html>
